*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  color: blue;
}
h1 h2 h3 h4 h5 p{
  color: blue;
}
header:after{
  content: "";
  display: none;
  clear:both;
}
.partesopra:after{
  content: "";
  display: none;
  clear:both;
}

.partesopra{
  height: 80px;
  background-color: blue;
  width: 100%;
  border-top: 5px solid orange;
  padding: 10px;
}
.partesopra ul{
  list-style-type: none;
}
.partesopra li{
  display: inline-block;
}
.partesopra a{
  color: white;
  display: block;
  text-decoration: none;
  margin-top: 20px;
 }
.partesoprasin{
  width: 10%;
  float: left;
  height: 60px;
}
.logo img{
  height: 60px;
}
.partesopracentr{
  width: 60%;
  float:left;
  height: 60px;
}
.partesopradestr{
  width: 30%;
  float: right;
  height: 60px;
}
.partesopradestr img{
  height: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.partemezzo:after{
content: "";
display: none;
clear:both;
}
.partemezzo{
  height: 100px;
  background-color: grey;
  width: 100%;
  padding: 20px;
}
.partemezzo ul{
  list-style-type: none;
  }
.partemezzo li{
  display: inline-block;
  }
.partemezzo a{
  color: #021166;
  text-decoration: none;
}
.partemezzosinistra{
  height: 100px;
  width: 50%;
  float:left;
}
.partemezzosinistra img{
  height: 20px;
  margin-left: 130px;
  margin-top: 20px;
  margin-right: 20px;
}
.partemezzodestra{
  height: 100px;
  width: 50%;
  float: right;
}
.partemezzodestra img{
  height: 20px;
  margin-top: 20px;
  margin-left: 210px;
}
.partemezzodestra a{
 color: white;
 border: 50px;
 border-color: red;
 text-decoration: none;
 }
 .partesotto:after{
 content: "";
 display: none;
 clear:both;
 }
 .partesotto{
   height: 50px;
   background-color: white;
   width: 100%;
   padding: 20px;
 }
 .partesotto a{
   color: #021166;
   text-decoration: none;
  }
 .partesottosinistra{
   height: 50px;
   width: 40%;
   float:left;
   margin-left: 130px;
 }
 .partesottodestra{
   height: 50px;
   width: 40%;
   float:right;
   margin-top: 20px;
}
.partesotto ul{
  list-style-type: none;
 }
 .partesotto li{
 display: inline-block;
 }

 .primaparte::after{
   content: "";
   display: none;
   clear:both;
  }
 .primaparte{
   height: 500px;
   width: 100%;


  }
  .primaparte img{
    position: relative;
    background-image: cover;
    width: 100%;
    height: 500px


  }
  .primaparte h1{
    color: grey;
  }
  .primaparte p{
    color: grey;
  }
  .primaparte h4{
    color: grey;
    margin-top: 15px;
    border: 10px;
    border-radius: 50%;
    border color: black;
  }
  .partesopraimg::after{
    content: "";
    display: block;
    clear:both;
  }
  .partesopraimg {
    width: 100%;
    height: 135px;
    background-color: grey;
    margin-top: 150px;
  }
  .partesopraimg img{
    display:block;
    margin:0px auto;
    text-align:center;
    height: 150px;
  }
  .partesottotesto{
    width: 100%;
    height: 135px;
  }
  .partesottotesto h3{
    text-align: center;
    color: blue;
  }
  .partesottotesto p{
    text-align: center;
    display: block;
    color: blue;
  }
  .freehubspot::after{
    content: "";
    display: block;
    clear:both;
  }
  .freehubspot{
    width: 70%;
    height: 200px
  }
  .freehubspotsin{
    height: 200px;
    width: 50%;
    float: left;

  }
  .freehubspotsin img{
    width: 200px;
    height: 100px;
    margin-left: 230px;
  }
  .freehubspotsin a{
    margin-top: 50px;
    padding: 20px;
    border: 10px;
    border color: orange;
    text-decoration: none;
    margin-left: 270px;
  }
  .freehubspotdes{
    height: 200px;
    width: 50%;
    float: left;
  }
  .freehubspotdes h4{
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
  }
  .freehubspotdes p{
    color: blue;
  }
  .freehubspotdes ul{
    list-style-type: none;
    color: blue;
  }
  .freehubspotdes li{
    display: inline-block;
  }
  .marketinghub::after{
    content: "";
    display: block;
    clear: both;
  }
  .marketinghub{
    width: 100%;
    height: 600px;
    float: left;
  }
  .marketinghub ul{
    list-style-type: none;
  }
  .marketinghub li{
    margin-left: 180px;
    margin-top: 10px;
    color: blue;
  }
  .marketinghub img{
    width: 200px;
    height: 100px;
    margin-left: 150px;
  }
  .marketinghubsin{
    width: 400px;
    height: 600px;
    float: left;
  }
  .marketinghub h5{
    margin-left: 200px;
    margin-top: 10px;
    color: blue;
  }
  .marketinghub p{
    margin-left: 150px;
    color: blue;
  }
  .marketinghub hr{
    width: 210px;
    margin-left: 150px;
    color: black;
    margin-top: 10px;

  }
  .marketinghub h4{
    margin-left: 180px;
    margin-top: 10px;
    color: blue;
  }
  .marketinghubcen{
    width: 400px;
    height: 600px;
    float: left;
  }
  .marketinghubdes{
    width: 400px;
    height: 600px;
    float: left;
  }
  .rettangoloblu::after{
    content: "";
    display: block;
    clear:both;
  }
  .rettangoloblu{
    width: 100%;
    height: 500px;
  }
  .partescrittura{
    width: 100%;
    height: 250px;
    background-color: #09e6b9;
  }
  .partescrittura h3{
    text-align: center;
  }
  .partescrittura p{
    text-align: center;
    margin-top: 10px;
  }
